{% extends "base.html" %}

{% block body %}
<div class="row p-5">
    <div class="col-1"></div>
    <div class="jumbotron col-10">
          <h1 class="display-4 text-center">About Us</h1>
          <!-- <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p> -->
    </div>
    <div class="col-1"></div>
</div>
<div class="row">
    <div class="col-2"></div>
    <div class="card-deck col-8">
        <div class="card">
          <img class="card-img-top" src="https://i.ibb.co/80b9KT1/sym.jpg" alt="Symoon Reza Patwary">
          <div class="card-body">
            <h5 class="card-title">MD Symoon Reza Patwary Anik</h5>
            <p class="card-text">ID: 172-15-9642</p>
            <p class="card-text"><small class="text-muted">symoon15-9642@diu.edu.bd</small></p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="https://i.ibb.co/6BjMr3f/aqib.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Ahnaf Hasan</h5>
            <p class="card-text">ID: 172-15-10015</p>
            <p class="card-text"><small class="text-muted">ahnaf15-10015@diu.edu.bd</small></p>
          </div>
        </div>
    </div>
    <div class="col-2"></div>
</div>
{% endblock %}